{% extends "main.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">Изменить пароль</div>
                <div class="card-body">
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Изменить">
                        <a class="mb-2 mx-3 btn btn-secondary " href="{% url 'user_setting' %}" role="button">Вернуться назад</a>
                    </form>
                </div> <!-- card body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->

{% endblock %}